.itemCounter{
    display: flex;
    width: 10rem;
    height: 30px;
    justify-content: space-between;
    text-align: center;
}

.counterButton{
    display: flex;
    width:2rem;
    /* vertical-align:center; */
    /* text-align: center; */
    
}
