.itemListContainer{
    margin-top: 80px;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; */
    /* background-color: palegoldenrod; */
    display: grid;
    justify-content:center;
    /* grid-auto-columns: 50px; */
    grid-template-columns: repeat( auto-fit, 300px );
    /* grid-template-columns: repeat( auto-fit, minmax(250px 16rem, 1fr) ); */
    /* width:90%; */
}


.noDecorationLink{
    color: inherit;
    text-decoration: inherit;
}

/* Solucion porque sino se ponia azul al pasarle el mouse por arriba */
.noDecorationLink:hover{
    color: inherit;
    text-decoration: inherit;
}

.centeredSubItemList{
    display:flex;
    justify-content:center;
}